<IfModule mod_rewrite.c>
    RewriteEngine On

    # Force everything through the index.php file
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ /index.php?r=$1 [QSA,L]
</IfModule>

